<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applications.studentplacementsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentPlacementSystem">
        <activity
            android:name=".AddPastPapers"
            android:exported="false" />
        <activity
            android:name=".AddCompany"
            android:exported="false" />
        <activity
            android:name=".AddSelectedStudent"
            android:exported="false" />
        <activity
            android:name=".AddStudent"
            android:exported="false" />
        <activity
            android:name=".AddTPO"
            android:exported="false" />
        <activity
            android:name=".AdminArea"
            android:exported="false" />
        <activity
            android:name=".TPOArea"
            android:exported="false" />
        <activity
            android:name=".TPOLogin"
            android:exported="false" />
        <activity
            android:name=".StudentArea"
            android:exported="false" />
        <activity
            android:name=".StudentLogin"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".LoginArea"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>